<div class="container-fluid" style="margin-top: 50px;">
    <div class="wrapper row">
        <div class="preview col-md-6">

            <div class="preview-pic tab-content">
                <div class="tab-pane active" id="pic-1">
                    <img src="{{dish?.preview}}" alt="" style="max-width: 540px; max-height: 340px;">
                </div>
            </div>

            <ul class="preview-thumbnail nav nav-tabs">
                <li class="active">
                    <img src="{{dish?.preview}}" alt="" style="max-width: 100px; max-height: 65px;">
                </li>
                <li *ngFor="let image of dish?.images; let i of index">
                    <a data-target="#pic-2" data-toggle="tab">
                        <img src="{{image}}" alt="" style="max-width: 100px; max-height: 65px;">
                    </a>
                </li>
            </ul>
        </div>
        <div class="details col-md-6">
            <h3 class="product-title">{{dish?.name}}</h3>
            <div class="pull-right">
                <a class="btn btn-sm text-white btn-primary" href="#">
                    <i class="fa fa-edit"></i> Редагувати
                </a>
                <button type="button" class="btn btn-sm text-white btn-danger" (click)="deleteAction(dish?.id)">
                    <i class="fa fa-trash"></i> 
                    Видалити
                </button>
            </div>
            <div class="rating">
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <span class="review-no">41 відгук</span>
            </div>
            <h4 class="price">Ціна: <span>${{dish?.price}}</span></h4>
            <p class="product-desc">{{dish?.description}}</p>

            <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
            <h5 class="sizes">Розмір порції:
                <span class="size" data-toggle="tooltip" title="small">мала</span>
                <span class="size" data-toggle="tooltip" title="medium">середня</span>
                <span class="size" data-toggle="tooltip" title="large">велика</span>
            </h5>
            <div class="action">
                <hr>
                <div class="btn-group cart">
                    <button type="button" class="btn btn-success">
                        Замовити 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">
            <li [ngClass]="{'active': selectedTab === 'description'}">
                <a (click)="selectTab('description')">Опис</a>
            </li>
            <li [ngClass]="{'active': selectedTab === 'reviews'}">
                <a (click)="selectTab('reviews')">Відгуки</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane in active" *ngIf="selectedTab === 'description'">
                <app-dish-description [dish]="dish"></app-dish-description>
            </div>


            <div class="tab-pane in active" *ngIf="selectedTab === 'reviews'">
                <app-food-reviews></app-food-reviews>
            </div>
        </div>
        <hr>
    </div>
</div>