<!-- Testimonials -->
<section class="testimonials text-center mybg">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
          <h5>Fred S.</h5>
          <p class="font-weight-dark mb-0">"Lorem ipsum dolor sit amet!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="https://images.pexels.com/photos/324658/pexels-photo-324658.jpeg?auto=compress&cs=tinysrgb&h=350" alt="">
          <h5>Margaret E.</h5>
          <p class="font-weight-dark mb-0">"Lorem ipsum dolor sit amet"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="https://images.pexels.com/photos/372042/pexels-photo-372042.jpeg?auto=compress&cs=tinysrgb&h=350" alt="">
          <h5>Sarah	W.</h5>
          <p class="font-weight-dark mb-0">"Lorem ipsum dolor sit amet!"</p>
        </div>
      </div>
    </div>
  </div>
</section>