################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/RecipeBook/config/applicationhost.config
/.vs/RecipeBook/v16
