################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/RecipeBook/config/applicationhost.config
/.vs/RecipeBook/v16
/.angular/cache/15.1.4
/.vs
/node_modules
