<!--Gallery-->
<section class="photos">
    <h1 class="mb-5 text-center">FEATURED MENUS</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">

                <img class="card-img-top" src="https://images.pexels.com/photos/7658/food-pizza-box-chalkboard.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">

                <a href="#" data-featherlight="https://images.pexels.com/photos/7658/food-pizza-box-chalkboard.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    <h2>Pizza</h2>
                </a>

            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">

                <img class="card-img-top" src="https://images.pexels.com/photos/551997/pexels-photo-551997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                <a href="#" data-featherlight="https://images.pexels.com/photos/551997/pexels-photo-551997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    <h2>Appetizers</h2>
                </a>

            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">

                <img class="card-img-top" src="https://images.pexels.com/photos/539451/pexels-photo-539451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                <a href="#" data-featherlight="https://images.pexels.com/photos/539451/pexels-photo-539451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    <h2>Soup</h2>
                </a>

            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">

                <img class="card-img-top" src="https://images.pexels.com/photos/684965/pexels-photo-684965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                <a href="#" data-featherlight="https://images.pexels.com/photos/684965/pexels-photo-684965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    <h2>Shushi rolls</h2>
                </a>

            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">

                <img class="card-img-top" src="https://images.pexels.com/photos/64208/pexels-photo-64208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                <a href="#" data-featherlight="https://images.pexels.com/photos/64208/pexels-photo-64208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    <h2>Spaghetti</h2>
                </a>

            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">

                <img class="card-img-top" src="https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                <a href="#" data-featherlight="https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    <h2>Pasta</h2>
                </a>

            </div>

        </div>
    </div>
</section>
<!--gallery end-->