<app-menu></app-menu>
<div class="container-fluid">
    <div class="row">
        <div *ngFor="let dish of dishes" class="col-md-3 col-sm-4 col-xs-12 food-list">
            <div class="food">
                <img src="{{dish.preview}}" alt="" />
                <div class="food-images-overlay text-center">
                    <h6 class="clrd-font">{{dish.name}}</h6>
                    <p class="clrd-font food-price"> <i class="fa fa-usd clrd-font" aria-hidden="true"></i> {{dish.price}}</p>
                    <a href="dishes/{{dish.id}}" class="btn btn-primary">Детальніше</a>
                </div>
                <a class="fancybox" rel="ligthbox" href="http://i.imgur.com/PUeaHfC.png">
                    <div class="zoom"></div>
                </a>
            </div>
        </div>
    </div>
</div>