
<app-header></app-header>
<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto mt-5">
                <h1 class="mb-5">Bistro • Bar • Shushi</h1>
            </div>
            <div class="col-xl-12 mx-auto order-now my-padding">
                <a href="#">Order Now!</a>
            </div>
        </div>
    </div>
</header>

<app-menu></app-menu>
<app-about></app-about>
<app-special-recipes></app-special-recipes>
<app-reviews-list></app-reviews-list>
<app-subscribe-form></app-subscribe-form>
<app-footer></app-footer>