<section class="container product-info">
    <div class="col-md-12 review">
        <div class="row">
            <div class="col-md-3 text-center">
                <img class="circle reviewer" src="http://standaloneinstaller.com/upload/avatar.png">
                <div class="caption">
                    <small><a href="#joe">Joe</a></small>
                </div>
            </div>
            <div class="col-md-9">

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quaerat aperiam unde nemo suscipit id repellendus ad doloribus quae, fugiat quia rem molestias sequi, amet nisi qui cumque iusto earum!</p>
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                  <small>
                    <span itemprop="name">-- J. Reviewer</span>
                </small>
                </span>
                <!--/author schema -->

                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <meta itemprop="datePublished" content="01-01-2016">01-01-2016
                <!--/panel-body-->
                <div class="panel-footer clearfix">
                    <i class="fa fa-facebook-official fa-2x"></i>
                    <i class="fa fa-twitter-square fa-2x"></i>
                    <i class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 review">
        <div class="row">
            <div class="col-md-3 text-center">
                <img class="circle reviewer" src="http://standaloneinstaller.com/upload/avatar.png">
                <div class="caption">
                    <small><a href="#joe">Joe</a></small>
                </div>
            </div>
            <div class="col-md-9">

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quaerat aperiam unde nemo suscipit id repellendus ad doloribus quae, fugiat quia rem molestias sequi, amet nisi qui cumque iusto earum!</p>
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <small>
                  <span itemprop="name">-- J. Reviewer</span>
                </small>
                </span>
                <!--/author schema -->

                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <meta itemprop="datePublished" content="01-01-2016">01-01-2016
                <!--/panel-body-->
                <div class="panel-footer clearfix">
                    <i class="fa fa-facebook-official fa-2x"></i>
                    <i class="fa fa-twitter-square fa-2x"></i>
                    <i class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 review">
        <div class="row">
            <div class="col-md-3 text-center">
                <img class="circle reviewer" src="http://standaloneinstaller.com/upload/avatar.png">
                <div class="caption">
                    <small><a href="#joe">Joe</a></small>
                </div>
            </div>
            <div class="col-md-9">

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quaerat aperiam unde nemo suscipit id repellendus ad doloribus quae, fugiat quia rem molestias sequi, amet nisi qui cumque iusto earum!</p>
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <small>
                <span itemprop="name">-- J. Reviewer</span>
                </small>
                </span>
                <!--/author schema -->

                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <meta itemprop="datePublished" content="01-01-2016">01-01-2016
                <!--/panel-body-->
                <div class="panel-footer clearfix">
                    <i class="fa fa-facebook-official fa-2x"></i>
                    <i class="fa fa-twitter-square fa-2x"></i>
                    <i class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 review">
        <div class="row">
            <div class="col-md-3 text-center">
                <img class="circle reviewer" src="http://standaloneinstaller.com/upload/avatar.png">
                <div class="caption">
                    <small><a href="#joe">Joe</a></small>
                </div>
            </div>
            <div class="col-md-9">

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quaerat aperiam unde nemo suscipit id repellendus ad doloribus quae, fugiat quia rem molestias sequi, amet nisi qui cumque iusto earum!</p>
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <small>
              <span itemprop="name">-- J. Reviewer</span>
                </small>
                </span>
                <!--/author schema -->

                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <meta itemprop="datePublished" content="01-01-2016">01-01-2016
                <!--/panel-body-->
                <div class="panel-footer clearfix">
                    <i class="fa fa-facebook-official fa-2x"></i>
                    <i class="fa fa-twitter-square fa-2x"></i>
                    <i class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
</section>