<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="gallery-title text-center">Gallery</h1>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <button class="btn btn-default filter-button" data-filter="all">All</button>
        <button class="btn btn-default filter-button" data-filter="hdpe">HDPE Pipes</button>
        <button class="btn btn-default filter-button" data-filter="sprinkle">Sprinkle Pipes</button>
        <button class="btn btn-default filter-button" data-filter="spray">Spray Nozzle</button>
        <button class="btn btn-default filter-button" data-filter="irrigation">Irrigation Pipes</button>
      </div>
    </div>
  </div>
</section>


<div class="gallery">
  <figure>
    <img src="https://images.pexels.com/photos/7658/food-pizza-box-chalkboard.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
    <figcaption>Daytona Beach <small>Pizza</small></figcaption>
  </figure>
  <figure>
    <img src="https://images.pexels.com/photos/551997/pexels-photo-551997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
    <figcaption>Териберка, gorod Severomorsk <small>Appetizers</small></figcaption>
  </figure>
  <figure>
    <img src="https://images.pexels.com/photos/539451/pexels-photo-539451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
    <figcaption>
      Bad Pyrmont <small>Soup</small>
    </figcaption>
  </figure>
  <figure>
    <img src="https://images.pexels.com/photos/684965/pexels-photo-684965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
    <figcaption>Yellowstone National Park <small>Sushi rolls</small></figcaption>
  </figure>
  <figure>
    <img src="https://images.pexels.com/photos/64208/pexels-photo-64208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
    <figcaption>Quiraing, Portree <small>Spagetti</small></figcaption>
  </figure>
  <figure>
    <img src="https://images.pexels.com/photos/64208/pexels-photo-64208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
    <figcaption>Quiraing, Portree <small>Spagetti</small></figcaption>
  </figure>
  <figure>
    <img src="https://images.pexels.com/photos/7658/food-pizza-box-chalkboard.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
    <figcaption>Daytona Beach <small>Pizza</small></figcaption>
  </figure>
  <figure>
    <img src="https://images.pexels.com/photos/551997/pexels-photo-551997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
    <figcaption>Териберка, gorod Severomorsk <small>Appetizers</small></figcaption>
  </figure>
  <figure>
    <img src="https://images.pexels.com/photos/539451/pexels-photo-539451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
    <figcaption>
      Bad Pyrmont <small>Soup</small>
    </figcaption>
  </figure>
  <figure>
    <img src="https://images.pexels.com/photos/684965/pexels-photo-684965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
    <figcaption>Yellowstone National Park <small>Sushi rolls</small></figcaption>
  </figure>
  <figure>
    <img src="https://images.pexels.com/photos/64208/pexels-photo-64208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
    <figcaption>Quiraing, Portree <small>Spagetti</small></figcaption>
  </figure>
  <figure>
    <img src="https://images.pexels.com/photos/64208/pexels-photo-64208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
    <figcaption>Quiraing, Portree <small>Spagetti</small></figcaption>
  </figure>
</div>