<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-xs-center text-sm-left text-md-left mb-5">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h5 class="txt-upper">About Restro</h5>
        <p class="myfont-color text-justify">Lorem ipsum dolor sit amet! Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        <p class="myfont-color">FOLLOW US:</p>
        <ul class="list-unstyled list-inline social">
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 myfont-color">
        <h5 class="txt-upper">HOURS</h5>
        <p> LUNCH:
          <br> Mon-Fri: 11:30 AM - 2:30 PM
          <br>
          <br> DINNER:
          <br> Mon-Thu: 4:45 PM - 10:30 PM
          <br> Fri: 4:45 PM - 11 PM
          <br> Sat: 4:30 PM - 11 PM
          <br> Sun: 5:00 PM - 10:30 PM
        <p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h5 class="txt-upper">Featured Menus</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="javascript:void();">Pizza</a></li>
          <li><a href="javascript:void();">Appetizers</a></li>
          <li><a href="javascript:void();">Soup</a></li>
          <li><a href="javascript:void();">Shushi rolls</a></li>
          <li><a href="javascript:void();">Spaghetti</a></li>
          <li><a href="javascript:void();">Pasta</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h5 class="txt-upper">Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="javascript:void();">Home</a></li>
          <li><a href="javascript:void();">About</a></li>
          <li><a href="javascript:void();">Gallery</a></li>
          <li><a href="javascript:void();">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <hr class="myhr">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2  text-white">
        <p class="h6">Copyright © All Rights Reserved.<a class="text-green ml-2" href="#" target="_blank">Restro</a></p>
      </div>
      <hr>
    </div>
  </div>
</section>
<!--Footer -->

<div class="scroll-top-wrapper ">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up"></i>
  </span>
</div>